<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/MyAppDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyTicketController</servlet-name>
        <servlet-class>Controller.BuyTicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFlightController</servlet-name>
        <servlet-class>Controller.ViewFlightController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchingFlightController</servlet-name>
        <servlet-class>Controller.SearchingFlightController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTransactionController</servlet-name>
        <servlet-class>Controller.ViewTransactionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingTicketController</servlet-name>
        <servlet-class>Controller.BookingTicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeTicketController</servlet-name>
        <servlet-class>Controller.ChangeTicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingCargoController</servlet-name>
        <servlet-class>Controller.BookingCargoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFlightListController</servlet-name>
        <servlet-class>Controller.ViewFlightListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTicketController</servlet-name>
        <servlet-class>Controller.EditTicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefundTicketController</servlet-name>
        <servlet-class>Controller.RefundTicketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileController</servlet-name>
        <servlet-class>Controller.ViewProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFlightController</servlet-name>
        <servlet-class>Controller.AddFlightController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCrewListController</servlet-name>
        <servlet-class>Controller.AddCrewListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFlightController</servlet-name>
        <servlet-class>Controller.EditFlightController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightPassengerController</servlet-name>
        <servlet-class>Controller.FlightPassengerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightCargoController</servlet-name>
        <servlet-class>Controller.FlightCargoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightCrewController</servlet-name>
        <servlet-class>Controller.FlightCrewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchingPassengerController</servlet-name>
        <servlet-class>Controller.SearchingPassengerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeachingCrewController</servlet-name>
        <servlet-class>Controller.SeachingCrewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchingCargoController</servlet-name>
        <servlet-class>Controller.SearchingCargoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackingRevenueTimeController</servlet-name>
        <servlet-class>Controller.TrackingRevenueTimeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackingRevenueController</servlet-name>
        <servlet-class>Controller.TrackingRevenueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackingRevenueFlightController</servlet-name>
        <servlet-class>Controller.TrackingRevenueFlightController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchingTicketController</servlet-name>
        <servlet-class>Controller.SearchingTicketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyTicketController</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFlightController</servlet-name>
        <url-pattern>/viewflight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchingFlightController</servlet-name>
        <url-pattern>/searchflight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTransactionController</servlet-name>
        <url-pattern>/viewtrans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingTicketController</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeTicketController</servlet-name>
        <url-pattern>/changeticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingCargoController</servlet-name>
        <url-pattern>/bookingCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFlightListController</servlet-name>
        <url-pattern>/flightlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTicketController</servlet-name>
        <url-pattern>/editTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefundTicketController</servlet-name>
        <url-pattern>/refundTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileController</servlet-name>
        <url-pattern>/viewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFlightController</servlet-name>
        <url-pattern>/addFllight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCrewListController</servlet-name>
        <url-pattern>/addCrew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFlightController</servlet-name>
        <url-pattern>/editFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightPassengerController</servlet-name>
        <url-pattern>/flightPassenger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightCargoController</servlet-name>
        <url-pattern>/flightCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightCrewController</servlet-name>
        <url-pattern>/flightCrew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchingPassengerController</servlet-name>
        <url-pattern>/searchPassenger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeachingCrewController</servlet-name>
        <url-pattern>/searchCrew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchingCargoController</servlet-name>
        <url-pattern>/searchCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackingRevenueTimeController</servlet-name>
        <url-pattern>/revenueTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackingRevenueController</servlet-name>
        <url-pattern>/revenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackingRevenueFlightController</servlet-name>
        <url-pattern>/revenueFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchingTicketController</servlet-name>
        <url-pattern>/ticketSearching</url-pattern>
    </servlet-mapping>
</web-app>
