*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
a{
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url('https://d1e00ek4ebabms.cloudfront.net/production/48b15eb2-4302-4c1a-a6aa-3040e60ee46f.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
header{
    display: flex;
    width: 100%;
    backdrop-filter: blur(10px);
    height: 9%;
    padding-top: 1%;
    padding-bottom: 1%;
    backdrop-filter: blur(25px);
    justify-content: space-between;
}
.nav-bar { 
    color: white;
    display: flex;
    width: 60%;
    float: left;
    justify-content: end;
}
.nav-bar .nav-item{
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-right: 1%;
}
.nav-bar .nav-item .nav-icon{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    border: solid 1px white;  
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin-bottom: 10px;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.484);
}
.nav-bar .nav-item:hover > .nav-icon{
    border-color: black ;
    color: white;
    background-color: rgba(0, 0, 0, 0.504);
}
.header-logo{
    margin-left: 2%;
    display: flex;
    align-items: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/57/Airplane_silhouette_S.png');
    background-repeat: no-repeat;
    background-size: 70%;
    width: 20%;
}
.header-logo h1{
    font-family: 'Times New Roman', Times, serif;    
    color: white;
}
.content{
    background-color: rgba(6, 6, 6, 0.121);
    width: 90%;
    height: 80%;
    backdrop-filter: blur(10px);
}
.search-bar{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content:space-around;
    align-items: center;
    margin-top: 2%;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.274);
    height: 50px;
    border-radius: 7px;
}
.search-bar .search-bar-item1{
    display: flex;
    flex-direction: column;
    width: 30%;
    float: left;
}
.search-bar .search-bar-item2{
    display: flex;
    flex-direction: column;
}
.search-bar .search-bar-item2 input{
    cursor: pointer;
    min-width: 120%;
}
.search-bar .search-bar-item2 p{
    float: left;
}
.search-bar .search-bar-item1 p {
    float: left;
}
.search-bar p{
    font-weight: bold;
    color: white;
}
.search-bar input{
    background-color: rgba(240, 248, 255, 0);
    color: white;
    width: 60%;
    height: 120%;
    border: none;
    border-bottom: solid 1px rgb(255, 255, 255);
    padding-bottom: 5px;
}
.search-bar select{
    cursor: pointer;
    background-color: transparent;
    color: rgb(255, 255, 255);
    width: 60%;
    height: 120%;
    border: none;
    border-bottom: solid 1px rgb(255, 255, 255);
    padding-bottom: 5px;
}
.search-bar select option{
    cursor: pointer;
    color: black;
}
.search-bar input,select:focus{
    outline: none;
}
.search-button{
    float: right;
    width: 20%;
}
.search-button button{
    float: right;
    padding: 10px 60px;
    background-color: rgba(255, 255, 255, 0.274);
    border: none;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    transition: .5s ease;
}
.search-button button:hover{
    background-color: rgba(255, 255, 255, 0.488);
    box-shadow: 0px 0px 10px white;
}
.flight-list{
    width: 100%;
    height: 70%;
    padding: 0 1%;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.flight-list .flight{
    display: flex;
    width: 30%;
    height: 30%;

}
.flight .flight-left{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.499);
    border-radius: 10px;
}

.flight .flight-right{
    border-left: 2px dotted #000000;
    width: 70%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.499);
    border-radius: 10px;
}
.flight .flight-left h3,p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.flight-logo h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 0;
    color: white;
    background-color: #1E3F85;
    width: 100%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/57/Airplane_silhouette_S.png');
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 90%;
    font-weight: bolder;
}
.flight-right{
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.flight-right-content{
    margin-bottom: 2%;
    margin-left: 5%;
    display: flex;
    width: 90%;
}
.flight-right-content p{
    margin-left: 0%;
    font-size: 0.7rem;
    color: white;
}
.flight-right-content h4{
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.flight-right .book-nav{
    cursor: pointer;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    right: 0;
    background-color: red;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    background-color: #1E3F85;
    transition: 1s ease;
}
.flight-right .book-nav i{
    font-size: 1.5em;
}
.flight-right .book-nav:hover{
    width: 15%;
}
.flight-right .book-nav:hover > a{
    opacity: 1;
    display: inline;
}
.flight-right .book-nav a{
    text-decoration: none;
    color: black;
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 32%;
    font-weight: bold;
    font-size: smaller;
    font-family: 'Times New Roman', Times, serif;
}
.paging-button{
    position: fixed;
    bottom: 2%;
    right: 5%;
    width: 20%;
    display: flex;
    justify-content: space-around;

}
.paging-button button{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    float: right;
    padding: 5px 20px;
    background-color: rgba(255, 255, 255, 0.274);
    border: none;
    cursor: pointer;
    border-radius: 7px;
    transition: .5s ease;
}
.paging-button button a{
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}
.paging-button button:hover{
    background-color: rgba(255, 255, 255, 0.488);
    box-shadow: 0px 0px 10px white;
}
.paging-button button a i{
    font-weight: lighter;
}
.searchResult{
    color: white;
}